.navo {
  background-color: white;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 40%);
}

.navo div ul li {
  display: flex;
  align-items: center;
}
.navo div ul li:nth-child(n + 2) a {
  color: var(--main-color);
  font-weight: bold;
}

.navo div ul li:first-child a {
  color: var(--second-color);
  font-weight: bold;
}

.navo div ul li a {
  letter-spacing: 1px;
  width: max-content;
  font-size: 14px;
}

.phoneCon {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.navo div ul li a svg {
  background-color: rgb(212, 212, 228);
  border-radius: 2px;
  font-size: 20px;
  padding: 4px;
  margin: 5px;
}
.navo div ul li a:hover {
  transition: 600s;
  text-decoration: line-through !important ;
}

.navo div ul li a:hover {
  color: var(--second-color);
}

.navflex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: start;
}

.navo div ul li button span {
  color: var(--main-color);
  padding: 5px;
  font-weight: bolder;
  text-align: center;
  background-color: white;
  display: inline;
}

@media only screen and (max-width: 992px) {
  .navflex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
